<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppIconChange"
        tools:targetApi="31">
        <activity android:name=".MainActivity"
            android:exported="true">
        </activity>

        <activity-alias
            android:name=".Holiday"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_holiday"
            android:label="Holiday"
            android:roundIcon="@mipmap/ic_holiday"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".Birthday"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_birthday"
            android:label="Birthday"
            android:roundIcon="@mipmap/ic_birthday"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".NewYear"
            android:enabled="false"
            android:roundIcon="@mipmap/ic_new_year"
            android:exported="true"
            android:icon="@mipmap/ic_new_year"
            android:label="New Year"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>